header h1, nav {
  text-align: center;
}

nav li {
  display: inline;
  margin: 0 6px;
}

nav ul {
  padding-left: 0;
}

section.form, section.result {
  width: 20vw;
  margin: 30px auto;
}

.form-input {
  font-size: large;
  margin-bottom: 20px;
}

.form-input label {
  display: block;
  margin-bottom: 10px;
}