.main {
  margin: 50px auto;
  height: 80vh;
  width: 30vw;
  border: 2px solid black;
}

.main h1 {
  text-align: center;
}

.menu {
  width: 30vw;
  margin: 0 auto;
  text-align: center;
}

.menu ul {
  padding: 0;
}

.menu li {
  display: inline;
  font-size: large;
  margin: 0 6px;
}

.menu li a {
  color: black;
  text-decoration: none;
}

.menu li a:hover {
  color: blue;
  text-decoration: underline;
}

.form {
  width: 20vw;
  margin: 30px auto;
}

form {
  width: auto;
  margin: 0 auto;
}

.form-input {
  margin-bottom: 20px;
  font-size: large;
}

.form-input label {
  display: block;
  margin-bottom: 10px;
}

.form-input input, .form-input select {
  height: 25px;
  width: 100%;
}

button {
  width: 100px;
  height: 35px;
}
